*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    list-style: none;
}
html,body{
    margin: 0;
    padding: 0;
}
img:not(.img-search):not(.img-bbc):not(.img-dialogo){
    width: 100%;
}
/* ---------cuadros */
.cuadro-culture::before{
    content: "■	";
    color: mediumpurple;
}
.cuadro-travel::before{
    content: "■	";
    color: deeppink;
}
.cuadro-future::before{
    content: "■	";
    color: limegreen;
}
.cuadro-news::before{
    content: "■ ";
    color:orangered;
}
/* colores de letras----- */
.blanco{
    color: #ffffff;
}
.gris{
    color: gray;
}
/* ----fondos */
.p-blanco{
    background-color: #ffffff;
}
.margin-nulo{
    margin: 0;
}
/* header---------- */
.header{
    background-color: black;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    height: 40px;
}
.menu{
    display: flex;
    flex-direction: row;

}
.container-menu{
    width: 1024px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.container-logo{
    height: 40px;
    display: flex;
    justify-content: center;
}
.menu>a:nth-child(1){
    padding:5px 10px;
    border-left: silver solid 0.1px;
    border-bottom: 4px solid deepskyblue;
}
.menu>a:nth-child(2){
    padding:5px 10px;
    border-left: silver solid 0.1px;
    border-bottom: 4px solid orangered;
}
.menu>a:nth-child(3){
    padding:5px 10px;
    border-left: silver solid 0.1px;
    border-bottom: 4px solid mediumpurple;
}
.menu>a:nth-child(4){
    padding:5px 10px;
    border-left: silver solid 0.1px;
    border-bottom: 4px solid limegreen;
}
.menu>a:nth-child(5){
    padding:5px 10px;
    border-left: silver solid 0.1px;
    border-right:  silver solid 0.1px;
    border-bottom: 4px solid deeppink;
}
.container-imput{
    position: relative;
    display: flex;
    justify-content: center;
}
.input-nav{
    height: 25px;
}
.img-search{
    background-color: #ffffff;
    height: 20px;
    position:absolute;
    right: 0;
    top: 3px;
}
/* -------main */
body>main{
    padding-top: 40px;
}
/* -----section-1 */
.container-sec1{
    width: 1024px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}
.container-h2-sec-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-img-sec1{
   justify-content: center;
   width: 100%;
   max-width: 1024px;
   height: 600px;
   display: flex;
   flex-direction: row;
   margin-left: auto;
   margin-right: auto;
}
.imgs-new{
    width: 230px;
    height: 160px;
    position: relative;
}
.p-dentro-img{
    position: absolute;
    bottom: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-1{
    margin-right: 10px;
    width: 600px;
}
.news-2{
    margin-right: 10px;
    width: 320px;
   
}
.news-3{
    width: 250px;
    
}
/* seccion-2-------- */
.sec-2{
    background-image: url(img/reel/background-reel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}
.container-sec2{
    width: 100%;
    max-width: 1024px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px 0;
     
}
.container-h2-sec-2{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-art-sec-2{
    display: flex;
    flex-direction: row;

}
.p-art-sec-2{
    background-color: #ffffff;
    margin: 0;
    padding: 10px;
}
.container-art-sec-2>article:nth-child(1){
    margin-right: 10px;
  
}
.container-art-sec-2>article:nth-child(2){
    margin-right: 10px;
}
.img-bbc{
    margin-right: 5px;
}
.cont-sec-2-rgba{
    width: 100%;
    background-color: rgba(15, 15, 15, 0.5)
}
.reel{
    font-size: 25px;
}
/* seccion-3 */
.container-sec3{
    width: 100%;
    height: 800px;
    max-width: 1024px;
    margin: 0 162.5px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
}
.sec-3{
    background-color: rgb(204, 204, 204);
 
}
.h3-sec-3{
    background-color: deepskyblue;
    margin: 0;
}
.h3-div-sec-3{
    width: 300px;
}
.h2-sec-3{
    margin: 0;
    background-color: rgb(204, 204, 204);
}
.container-div-sec-3{
    margin-right: 20px;

}
.dialogo{
    width: 300px;
    height: 105px;
    display: flex;
    align-items: center;
    padding: 10px 12px;
}
.img-dialogo{
    width: 60px;
    height: 50px;
    border-radius: 50%;
}
.container-div-sec-3>div:nth-child(even){
    background-color: black;
}
.container-div-sec-3>div:nth-child(odd){
    background-color: gray;
}
.container-art-sec-3{
    width: 900px;
    height: 350px;
    padding-top: 27px;
   
}
.container-art-sec-3>article{
    height: 400px;
}
.container-art-sec-3>article:nth-child(2){
    display: flex;
    flex-direction: row;
}
.container2-art-sec-3{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 150px;
    margin-top: 55px;
    
}
.container2-art-sec-3>article{
    width: 300px;
    height: 60px;
    
}
.container2-art-sec-3>article>p{
    margin: 0;
}